{% extends "catalog/base.html" %}
{% block title %} Каталог {% endblock %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <a class="btn btn-success btn-block" href="{% url 'catalog:create' %}">Добавить запись</a>
        </div>
        <div class="mb-4"></div>
        {% for product in products %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal " style="color: blue">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.purchase_price }} $</h1>
                    {% if product.version_set.exists %}
                    <ul>
                        {% for version in product.version_set.all %}
                        {% if version.is_active %}
                        <p>Версия продукта: {{ version.version_name }}</p>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>Нет версий для этого продукта</p>
                    {% endif %}
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> - {{ product.description|truncatechars:100 }}</li>

                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-success">Купить</button>
                    <a href="{% url 'catalog:product_detail' product.pk %}">
                        <button type="button" class="btn btn-lg btn-block btn-outline-success">Ознакомится</button>
                    </a>
                    <a href="{% url 'catalog:delete' product.pk %}">
                        <button type="button" class="btn btn-lg btn-block btn-danger">Удалить</button>
                    </a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}